/*@media (min-width: 992px){
      .fab-wrapper{
          display: none !important;
      }
  }*/

.fab-wrapper {
  position: fixed;
  bottom: 5px;
  right: 0;
  z-index: 9999999;
}
.fab-checkbox {
  display: none !important;
}
.fab-checkbox:checked~ .devvn_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.fab {
  width: 80px;
  max-width: unset;
  height: 80px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  background: green;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  position: absolute;
  right: 10px;
  bottom: 520px;
  z-index: 1000;
  overflow: hidden;
  transform: rotate(
    0deg
  );
  -webkit-transition: all .15s cubic-bezier(.15,.87,.45,1.23);
  transition: all .15s cubic-bezier(.15,.87,.45,1.23);
}
.fab-checkbox:checked~.fab {
  transform: rotate(
    90deg
  );
  -webkit-transition: all .15s cubic-bezier(.15,.87,.45,1.23);
  transition: all .15s cubic-bezier(.15,.87,.45,1.23);
}
.fa-solid fa-plus{
  width: 50px;
  height: 50px;
  color: #fff1e0;
}
/*.icon-cps-fab-menu {*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  margin: 0 !important;*/
/*  background-size: 694px;*/
/*  background-position: -649px 0;*/
/*}*/
/*.fab-checkbox:checked~.fab .icon-cps-fab-menu {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  margin: 0;*/
/*  background-size: 615px;*/
/*  background-position: -291px -70px;*/
/*}*/
/*.fab-wheel {*/
/*  width: 300px;*/
/*  height: 220px;*/
/*  position: absolute;*/
/*  bottom: 15px;*/
/*  right: 15px;*/
/*  transform: scale(0);*/
/*  transform-origin: bottom right;*/
/*  transition: all .3s ease;*/
/*  z-index: 12;*/
/*}*/
/*.fab-checkbox:checked~.fab-wheel {*/
/*  transform: scale(1);*/
/*}*/
/*.fab-wheel .fab-action {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  font-size: 14px;*/
/*  font-weight: 700;*/
/*  color: #fff;*/
/*  position: absolute;*/
/*  text-decoration: none;*/
/*}*/
/*.fab-wheel .fab-action-1 {*/
/*  top: 0;*/
/*  right: 0;*/
/*}*/
/*.fab-title {*/
/*  float: left;*/
/*  margin: 0 5px 0 0;*/
/*  opacity: 0;*/
/*}*/
/*.fab-checkbox:checked~.fab-wheel .fab-title {*/
/*  opacity: 1;*/
/*}*/
/*.fab-button {*/
/*  width: 45px;*/
/*  height: 45px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  float: left;*/
/*  padding: 4px;*/
/*  border-radius: 50%;*/
/*  background: #0f1941;*/
/*  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);*/
/*  font-size: 24px;*/
/*  color: White;*/
/*  transition: all 1s ease;*/
/*  overflow: hidden;*/
/*}*/
/*.icon-cps-local {*/
/*  width: 28px;*/
/*  height: 28px;*/
/*  background-position: 0px -49px;*/
/*}*/
/*.fab-wheel .fab-button-1 {*/
/*  background: #dd5145;*/
/*}*/
/*.fab-wheel .fab-action-2 {*/
/*  top: 40px;*/
/*  left: 85px;*/
/*}*/
/*.fab-wheel .fab-button-2 {*/
/*  background: #fb0;*/
/*}*/
/*.icon-cps-phone {*/
/*  width: 28px;*/
/*  height: 28px;*/
/*  background-position: -51px -49px;*/
/*}*/
/*.fab-wheel .fab-action-3 {*/
/*  left: 50px;*/
/*  bottom: 70px;*/
/*}*/
/*.fab-wheel .fab-button-3 {*/
/*  background: #0f9d58;*/
/*}*/
/*.icon-cps-chat {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  background-position: -369px 0px;*/
/*}*/
/*.fab-wheel .fab-action-4 {*/
/*  left: 0;*/
/*  bottom: 0;*/
/*}*/
/*.fab-wheel .fab-button-4 {*/
/*  background: #2f82fc;*/
/*}*/
/*.icon-cps-chat-zalo {*/
/*  width: 30px;*/
/*  height: 30px;*/
/*  background-position: -362px -1px;*/
/*  background-size: 515px;*/
/*}*/
/*.suggestions-chat-box {*/
/*  min-width: 140px;*/
/*  min-height: 50px;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  border: 1px solid #1d72e0;*/
/*  border-radius: 10px;*/
/*  background: #277cea;*/
/*  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);*/
/*  font-size: 14px;*/
/*  font-weight: 700;*/
/*  color: #fff;*/
/*  position: fixed;*/
/*  right: 80px;*/
/*  bottom: 7%;*/
/*  z-index: 11;*/
/*}*/
/*.hidden {*/
/*  display: none!important;*/
/*}*/
/*.align-items-center {*/
/*  -ms-flex-align: center!important;*/
/*  align-items: center!important;*/
/*  -ms-flex-pack: distribute!important;*/
/*  justify-content: space-around!important;*/
/*  display: -ms-flexbox!important;*/
/*  display: flex!important;*/
/*  -webkit-box-align: center!important;*/
/*  -ms-flex-align: center!important;*/
/*  align-items: center!important;*/
/*}*/
/*.suggestions-chat-box #btnClose {*/
/*  position: absolute;*/
/*  top: 2px;*/
/*  left: 2px;*/
/*}*/
/*i.icon-cps-face {*/
/*  width: 28px;*/
/*  height: 28px;*/
/*  background-position: -177px 0px;*/
/*}*/
.fab-checkbox:not(:checked)~.fab {
  animation-name: zoom;
  -webkit-animation-name: zoom;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  cursor: pointer;
  box-shadow: 0 0 0 0 green;
}
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  10%,20% {
    -webkit-transform: scale(.9) rotate(-3deg);
    transform: scale(.9) rotate(-3deg)
  }
  30%,50%,70%,90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg)
  }
  40%,60%,80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg)
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0)
  }
}
@keyframes tada {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
  }
  10%,20% {
    -webkit-transform: scale(.9) rotate(-3deg);
    -ms-transform: scale(.9) rotate(-3deg);
    transform: scale(.9) rotate(-3deg)
  }
  30%,50%,70%,90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg)
  }
  40%,60%,80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    -ms-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg)
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0)
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(.9)
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px transparent
  }
  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 transparent
  }
}
@keyframes zoom {
  0% {
    transform: scale(.9)
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px transparent
  }
  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0 transparent
  }
}




.main-body {
  margin-top: 50px;
  padding: 15px;
  line-height: 0.5;
}

p, .paragraph{
  line-height: 1.5
}



.btn{
  border-radius: 10px;
  padding: 8px 15px;
}

.card-custom {
  overflow: hidden;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 139px;
  min-height: 139px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 100px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 39px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
.card {
  max-height: 400px;

}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/* Modal styles */
.modal .modal-dialog {
  max-width: 400px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
  padding: 20px 30px;
}

.modal .modal-content {
  border-radius: 3px;
  font-size: 14px;
}

.modal .modal-footer {
  background: #ecf0f1;
  border-radius: 0 0 3px 3px;
}

.modal .modal-title {
  display: inline-block;
}

.modal .form-control {
  border-radius: 2px;
  box-shadow: none;
  border-color: #dddddd;
}

.modal textarea.form-control {
  resize: vertical;
}

.modal .btn {
  border-radius: 2px;
  min-width: 100px;
  padding:5px 10px;
}

.modal form label {
  font-weight: normal;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav-item {
  padding-left: 25px;
  font-size: large;
  font-weight: initial;
}

.name-employ {
  color: hotpink;
  padding-right: 10px;
  font-size: large;
  font-weight: initial;
}


#delete{
  border: 1px solid red;
}
#edit{
  border: 1px solid green;
}


.table-title {
  background: #435d7d;
  color: #fff;
  padding: 16px 30px;
  min-width: 100%;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
